.css-qcqlck-MuiDataGrid-root .MuiDataGrid-columnHeaders {
  display: none;
}

.dataTableCell {
  max-width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.css-qcqlck-MuiDataGrid-root .MuiDataGrid-cell--textLeft {
  display: grid;
  align-items: center;
  padding-left: 10px;
}
