.homeContainer {
  display: flex;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  row-gap: 15px;
}

.loginInput:focus {
  outline: none;
}

.loginForm span {
  color: red;
  font-size: 12px;
  text-align: start;
  display: block;
}

#loginTitle {
  color: #1775ee;
  font-weight: bold;
}

.loginLogo {
  font-weight: 700;
  color: #1877f2;
  cursor: default;
}

.loginInput {
  border: 1px solid gray;
}
.loginButton {
  border: none;
  background-color: #1775ee !important;
  color: white;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 768px) {
  .homeContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .loginLogo {
    font-size: 30px;
  }

  .loginInput {
    height: 35px;
    width: 250px;
    border-radius: 6px;
    font-size: 13px;
    padding-left: 20px;
  }

  .loginButton {
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    padding: 0px 5px;
  }

  #loginTitle {
    font-size: 13px;
  }
}

@media (min-width: 769px) {
  .homeContainer {
    flex-direction: row;
  }

  .loginLogo {
    font-size: 60px;
  }

  .loginInput {
    height: 50px;
    width: 300px;
    border-radius: 6px;
    font-size: 18px;
    padding-left: 20px;
  }

  .loginButton {
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    padding: 0px 12px;
  }

  .loginLogoPart {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loginInputPart {
    flex: 1;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #loginTitle {
    font-size: 20px;
  }
}
