.closeFriendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-right: 12px;
}

.closeFriendList:hover {
  background-color: #f0f2f5;
}

.closeFriend {
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.closeFriend img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
  transition: width 0.3s ease, height 0.3s ease;
}

.addButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  margin-right: 10px;
}

.addButton:disabled {
  cursor: default !important;
}

@media (max-width: 768px), (max-width: 1159px) {
  .closeFriendList {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .closeFriend {
    margin-bottom: 10px;
  }

  .addButton {
    margin-right: 0;
    width: 100%;
  }

  .closeFriend img {
    width: 40px;
    height: 40px;
  }
}

.linkFriendMember {
  display: flex;
  cursor: pointer !important;
}

.followed-text {
  font-size: 14px;
  font-weight: bold;
  color: #3b5998;
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: default;
}

.memberContainer {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.searchIconMember {
  font-size: 20px;
  padding-left: 5px;
}

.searchMemberInput::placeholder {
  color: #aab8c2;
  opacity: 1;
  text-align: left;
  font-style: italic;
}
.searchMemberInput {
  width: 100%;
  outline: none;
}

.searchMemberBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 39px;
}

.circular-progress {
  position: absolute;
  top: 25%;
  left: 100%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
  color: #1775ee !important;
  font-weight: bold;
}

.button-container-add {
  position: relative;
  display: inline-block;
}
