.profileCover {
  height: 320px;
  width: 100%;
  position: relative;
}

.profileCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.profileUserImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 3px solid white;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: default;
  margin-top: 50px;
}

.totalInfo {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  cursor: default;
}

.profileInfoName {
  font-size: 24px;
}

.profileInfoDesc {
  font-weight: 300;
}

.myFriendList {
  width: 100%;
  max-height: calc(100vh - 350px);
  position: absolute;
  right: 0;
}

.myMemberList {
  width: 100%;
  max-height: calc(100vh - 350px);
  position: absolute;
  left: 0;
}

.profileHeader {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-bottom: 70px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
}

.profileBody {
  display: flex;
  flex: 1;
}

.profileLeft {
  flex: 1;
  position: relative;
}

.profileCenter {
  flex: 2;
}

.profileRight {
  flex: 1;
  position: relative;
}

.profileHeaderBottom {
  flex: 1;
}

.profileHeaderTop {
  flex: 1;
}
