.homeContainer {
  display: flex;
  width: 100%;
}

.rightbar {
  flex: 1;
}

.leftbar {
  flex: 1;
  position: sticky;
  top: 50px;
  overflow-y: scroll;
  height: calc(100vh - 50px);
}

.centerbar {
  flex: 2;
}
