.homeContainer {
  display: flex;
  width: 100%;
}

.centerbar {
  flex: 2;
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: calc(100vh - 50px);
  overflow-y: auto;
}

.leftbar {
  flex: 1;
  position: fixed;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  scrollbar-width: 20px;
  scrollbar-color: #3b5998 #e1e1e1;
}

.leftHamburgerMenu {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background-color: #1775ee;
  margin-top: 7px;
}

.rightbar {
  flex: 1;
  position: fixed;
  top: 50px;
  right: 0;
  height: calc(100vh - 50px);
  scrollbar-width: 20px;
  scrollbar-color: #3b5998 #f0f0f0;
}

.rightHamburgerMenu {
  z-index: 100;
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  color: white;
  background-color: #1775ee;
  margin-top: 7px;
}

@media (max-width: 1187px) {
  .leftHamburgerMenu {
    display: block;
  }
  .rightHamburgerMenu {
    display: block;
  }

  .leftbar {
    display: none;
  }

  .rightbar {
    display: none;
  }

  .leftbarWithHamburgeMenu {
    display: block;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: white;
    z-index: 99;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    scrollbar-width: 20px;
    scrollbar-color: #3b5998 #f0f0f0;
  }

  .rightbarWithHamburgeMenu {
    display: block;
    position: fixed;
    top: 50px;
    right: 0;
    background-color: white;
    z-index: 99;
    overflow-y: scroll;
    height: calc(100vh - 50px);
    scrollbar-width: 20px;
    scrollbar-color: #3b5998 #f0f0f0;
  }
}

@media (min-width: 1188px) {
  .leftHamburgerMenu {
    display: none;
  }

  .rightHamburgerMenu {
    display: none;
  }

  .leftbar {
    display: block;
  }

  .rightbar {
    display: block;
  }
}
