.friendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-right: 12px;
  background-color: #f5f6fa;
}

.friendList:hover {
  background-color: #f0f2f5;
}

.friend {
  display: flex;
  align-items: center;
}

.friend span {
  font-weight: bold;
  color: #333; /* Koyu gri metin rengi */
}

.friend img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.removeFriendButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  margin-right: 10px;
  transition: background-color 0.2s;
}

.removeFriendButton:hover {
  background-color: #bf3f3f;
}

@media (max-width: 768px), (max-width: 1159px) {
  .friendList {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .friend {
    margin-bottom: 10px;
  }

  .removeFriendButton {
    margin-right: 0;
    width: 100%;
  }

  .friend img {
    width: 40px;
    height: 40px;
  }
}

.friendTitle {
  color: #3b5998;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
  border-radius: 2px;
  cursor: default;
  font-weight: 400;
}
