.friendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-right: 12px;
}

.friendList:hover {
  background-color: #f0f2f5;
}

.friend {
  display: flex;
  align-items: center;
}

.friend span {
  font-weight: bold;
  color: #333;
}

.friend img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.removeFriendButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  transition: background-color 0.2s;
  margin-left: 8px;
}

.removeFriendButton:hover {
  background-color: #bf3f3f;
}

@media (max-width: 768px), (max-width: 1159px) {
  .friendList {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
  }

  .friend {
    margin-bottom: 10px;
  }

  .removeFriendButton {
    margin-right: 0;
    width: 100%;
  }

  .friend img {
    width: 40px;
    height: 40px;
  }
}

.linkFriend {
  display: flex;
  cursor: pointer !important;
}

.friendsContainer {
  max-height: 400px;
  overflow-y: auto;
  padding-bottom: 50px;
}

.followed-text-for-friend {
  font-size: 14px;
  font-weight: bold;
  color: #3b5998;
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  cursor: default;
}

.searchIconFriend {
  font-size: 20px;
  padding-left: 5px;
}

.searchFriendInput::placeholder {
  color: #aab8c2;
  opacity: 1;
  text-align: left;
  font-style: italic;
}
.searchFriendInput {
  width: 100%;
  outline: none;
}

.searchFriendBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 5px 15px;
  margin-right: 35px;
}

.searchFriend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 20px;
  margin-left: 10px;
  margin-top: 70px;
}
