.closeFriendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.closeFriend {
  display: flex;
  align-items: center;
}

.closeFriend img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.addButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  margin-right: 30px;
}
