.closeFriend {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.closeFriend img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.closeFriendList {
  list-style: none;
  padding: 0;
  margin: 16px 0 0 !important;
}
