.closeFriendList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  margin-right: 12px;
  /* İsteğe bağlı: Ekran genişliği çok dar olduğunda sağdaki boşluğu kaldır */
}

.closeFriendList:hover {
  background-color: #f0f2f5;
}

.closeFriend {
  display: flex;
  align-items: center;
}

.closeFriend img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 8px;
}

.addButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #1775ee;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  margin-right: 30px; /* Mobil cihazlarda buton aralığını ayarlamak için */
}

/* Ekran genişliği 768px ve altı için stil */
@media (max-width: 768px) {
  .closeFriendList {
    flex-direction: column; /* Öğeleri dikey yönde sırala */
    align-items: flex-start; /* Öğeleri sola yasla */
    margin-right: 0; /* Dar ekranlarda sağ taraftaki boşluğu kaldır */
  }

  .closeFriend {
    margin-bottom: 10px; /* closeFriend öğeleri arasında dikey boşluk ekle */
  }

  .addButton {
    margin-right: 0; /* Mobil cihazlarda butonun sağdaki fazladan boşluğunu kaldır */
    width: 100%; /* Butonu genişlet */
  }

  .closeFriend img {
    width: 40px; /* Mobil cihazlarda genişlik */
    height: 40px; /* Mobil cihazlarda yükseklik */
  }
}

@media (max-width: 480px) {
  .closeFriend img {
    width: 48px; /* Çok dar cihazlarda genişlik */
    height: 48px; /* Çok dar cihazlarda yükseklik */
  }
}
