.custom-file-upload {
  border: none;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  background-color: #1775ee;
  border-radius: 5px;
  font-size: 15px;
  width: 100%;
  text-align: center;
}

#file-upload {
  display: none;
}
