.shareInput {
  height: 50px;
  width: 300px;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  border: 1px solid gray;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shareButton {
  background-color: #007bff !important;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}

.card-cover {
  width: 100%;
}

.card-cover img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  width: 100%;
}

.shareTextArea {
  resize: none;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid gray;
  width: 300px;
}

.shareTextArea::placeholder {
  text-align: left;
}

.ant-card-meta-title {
  color: #007bff !important;
  font-weight: bold !important;
}

.removeButton,
.likeButton {
  font-size: 25px !important;
  font-weight: bold !important;
}

.card-actions {
  display: flex;
  justify-content: space-between;
}

.cardContainer {
  width: 400px;
}
