.shareInput {
  height: 50px;
  width: 100%;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 20px;
  outline: none;
  border: 1px solid gray;
}

.shareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shareButton {
  background-color: #007bff !important;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
}

.shareTextArea {
  resize: none;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 6px;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid gray;
  width: 100%;
}

.shareInput::placeholder,
.shareTextArea::placeholder {
  color: #aab8c2;
  opacity: 1;
  text-align: left;
  font-style: italic;
}
.ant-card-meta-title {
  color: #007bff !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin-right: 5px !important;
}

.commentAndLikeButton {
  font-size: 25px;
  font-weight: bold;
  width: 50%;
  color: gray !important;
}

.commentAndLikeButton:hover {
  background-color: whitesmoke !important;
}

.commentAndLikeButton:disabled {
  color: #1877f2 !important;
}

.card-actions {
  display: flex;
}

.cardContainer {
  width: 470px;
}

.commentArea {
  position: relative;
  width: 420px;
  height: 100px;
  margin-top: 10px;
}

.commentArea textArea {
  resize: none;
}
.commentArea button {
  position: absolute;
  right: 0;
  bottom: 0px;
  padding: 0px;
  background-color: #007bff;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  width: 40px;
}

.metaDescribe {
  margin-top: 8px !important;
  font-weight: bold;
}

.ant-card-meta-detail {
  display: flex;
}

.metaUrl {
  font-weight: bold;
}

@media (max-width: 768px) {
  .shareTextArea::placeholder,
  .shareInput::placeholder {
    font-size: 14px;
    text-align: start;
  }
}

@media (min-width: 769px) {
  .shareTextArea::placeholder,
  .shareInput::placeholder {
    font-size: 16px;
    text-align: start;
  }
}
