.statusButton:not([disabled]) {
  cursor: pointer !important;
}
.adminTable {
  position: relative;
  top: 50px;
  width: 100%;
}

.ant-table-body {
  scrollbar-width: 20px;
  scrollbar-color: #3b5998 #f0f0f0;
}

@media screen and (max-width: 768px) {
  .adminTable {
    width: 900px;
    overflow-x: auto;
  }
}
