.deleteButton {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #ee1717;
  color: white;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  padding: 0 12px;
  margin-right: 10px;
}

.deleteButton:hover {
  background-color: #da2121;
}
.adminTable {
  position: fixed;
  top: 50px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .adminTable {
    width: 900px;
    overflow-x: auto;
  }
}
